.Modal{
    border:10px solid red;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ModalContent{
    border:2px solid blue;
    background-color:white;
    padding:24px;
}