* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin: 24px 0;
}

#root {
  margin: 48px;
}

#root > header {
  padding-bottom: 24px;
}

main {
  border: 4px solid rgb(148, 195, 195);
  border-left: none;
  border-right: none;
  padding: 24px 0;
}

main section {
  border: 2px solid black;
  margin-bottom: 48px;
  width: 50%;

  margin: 24px auto;
  position: relative;
}

main section .box {
  width: 64px;
  height: 64px;
  border: 2px solid red;
  background-color: rgba(255, 100, 55, 0.5);
}

main section .box:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}

main section .box:nth-of-type(2) {
  background-color: rgba(255, 200, 55, 0.5);

  position: absolute;
  top: 0;
  right: 0;
}
main section .box:nth-of-type(3) {
  background-color: rgba(255, 200, 155, 0.5);
  position: absolute;
  bottom: 0;
  right: 0;
}
main section .box:nth-of-type(4) {
  background-color: rgba(155, 100, 155, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}
