* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 24px 0;
}

#root {
  margin: 48px;
}

#root > header {
  padding-bottom: 24px;
}

main {
  border: 4px solid rgb(148, 195, 195);
  border-left: none;
  border-right: none;
  padding: 24px 0;
}

#root > footer {
  padding-top: 24px;
}
