* {
  box-sizing: border-box;
}

.carousel {
  border: 10px solid black;
  margin: 10px;
  width: 600px;
  height: 400px;
  position: relative;
}

.carousel > ul {
  border: 10px solid blue;
  width: 200%;
  height: 100%;
  display: flex;
  margin-left: 0%;
}

.carousel > ul > li {
  border: 2px solid red;
  flex-basis: 0;
  flex-grow: 1;
  background-color: antiquewhite;
}

.carousel > ul > li:nth-child(odd) {
  background-color: pink;
}

.carousel > nav {
  border: 2px solid orange;
  background-color: gray;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel > nav > button {
  background-color: black;
  color: white;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.carousel > ul > li > img{
    width:100%;
    height:100%;
    object-fit: cover;
}
