* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

#root {
  border: 2px solid black;
}

#root > header {
  border: 2px solid black;
}

main {
  border: 2px solid black;
}

#root > footer {
  border: 2px solid black;
}

/*  Components */

.hamburger-nav {
  border: 2px solid black;
  background-color: rgba(196, 159, 159, 0.9);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  text-align: right;
}

.hamburger-nav > ul {
  border: 1px solid black;
  display: none;
}

.hamburger-nav.expanded > ul {
  display: block;
}

.hamburger-nav > ul a {
  border: 2px solid red;
  display: flex;
  height: 40px;
  align-items: center;
}

.btn-toggle-hamburger-nav {
  background-color: red;
  border: none;
  width: 40px;
  height: 40px;
}

.btn-toggle-hamburger-nav span {
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: black;
}

.btn-toggle-hamburger-nav.off span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.btn-toggle-hamburger-nav.off span:nth-child(2) {
  opacity: 0;
}

.btn-toggle-hamburger-nav.off span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

/* Banner */
.banner {
  min-height: 300px;
  background-color: mediumaquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

/* Card */
.card-list {
  border: 2px solid blue;
}

.card-list > .card {
  border: 2px solid blue;
  padding: 16px;
}

/*  Badges */

/*  Icons */

/* Carousel */

/*  ---    Utility Classes     ---  */
.f-centered-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.limited-width {
  max-width: 1000px;
  border: 2px solid red;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .card-list > .card {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .hamburger-nav {
    position: static;
  }

  #root > header > .limited-width {
    display: flex;
    justify-content: space-between;
  }

  /*  
  1- logo ile nav'ı aynı satıra al biri bir uçta diğeri diğer uçta olsun
  2- toggle butonunu sakla ve hamburger nav'ın ul'sini göster
  */

  .hamburger-nav {
    width: auto;
  }

  .hamburger-nav > ul {
    display: flex;
    column-gap: 16px;
  }

  .btn-toggle-hamburger-nav {
    display: none;
  }

  .card-list > .card {
    flex-basis: 25%;
  }
}

/* öne çıkan işler  */

/* 0'dan 750px'e kadar  alt alta, 750px eşit ve 1000px'e kadar ikili, 1000px eşit ve sonrasında dörtlü yan yana gelsinler  */
